<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="mobile-web-app-capable" content="yes"/>
	<title>Images</title>
	<link rel="stylesheet" href="../static/normalize/normalize.css" th:href="@{/normalize/normalize.css}"/>
	<link rel="import" href="../polymer/nav-components/gallery-navbar.html" th:href="@{/polymer/nav-components/gallery-navbar.html}"/>
	<link rel="import" href="../polymer/nav-components/gallery-navbar-tab.html" th:href="@{/polymer/nav-components/gallery-navbar-tab.html}"/>
	<script src="../polymer/webcomponentsjs/webcomponents.min.js" th:src="@{/polymer/webcomponentsjs/webcomponents.min.js}"></script>
	<link rel="stylesheet" href="styles.css" th:href="@{/styles.css}"/>
</head>
<body>
	<header>
		<gallery-navbar>
			<gallery-navbar-tab><a href="/" th:href="@{/}">Home</a></gallery-navbar-tab>
			<gallery-navbar-tab><a href="/images" th:href="@{/images}">Images</a></gallery-navbar-tab>
			<gallery-navbar-tab><a href="/postImages" th:href="@{/postImages}">Post Image</a></gallery-navbar-tab>
		</gallery-navbar>
	</header>
	<main>
		<h1>Post An Image</h1>
		<form action="#" th:action="@{/postImages}" method="POST" enctype="multipart/form-data">
			<div class="input-block">
				<label for="title">Image Title</label>
				<input type="text" name="title" id="title"/>
			</div>
			<div class="input-block">
				<label for="description">Image Description</label>
				<input type="text" name="description" id="description"/>
			</div>
			<div class="input-block">
				<label for="file">Select a JPEG image: </label>
				<input type="file" name="image" id="file"/>
			</div>
			<input type="submit" value="Submit"/>
		</form>
	</main>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js}"></script>
</body>
</html>